# Lectura y limpieza dataframes Salario medio CCAA

In [1]:
import pandas as pd
import numpy as np

## Salario medio CCAA Sexo y edad

In [2]:
df_salario_ccaa_sexo_y_edad = pd.read_excel("/Users/adrianbenitezrueda/Documents/IRONHACK/GITHUB/WEEK 3/FIRST PROJECT/first-project-data/databases/salarios/salario_ccaa_sexo_y_edad/28201.xlsx")
df_salario_ccaa_sexo_y_edad

/opt/anaconda3/envs/first_project_ironhack/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Resultados nacionales y por comunidades aútonomas,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Ganancia media anual por trabajador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sexo y edad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unidades: €,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Cuando la casilla está marcada con un signo '-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,'..'=No se facilita el dato correspondiente po...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Fuente:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,Instituto Nacional de Estadística,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_salario_ccaa_sexo_y_edad.dtypes

Resultados nacionales y por comunidades aútonomas     object
Unnamed: 1                                            object
Unnamed: 2                                           float64
Unnamed: 3                                           float64
Unnamed: 4                                           float64
Unnamed: 5                                           float64
Unnamed: 6                                            object
Unnamed: 7                                            object
Unnamed: 8                                            object
Unnamed: 9                                            object
Unnamed: 10                                           object
Unnamed: 11                                          float64
Unnamed: 12                                          float64
Unnamed: 13                                          float64
Unnamed: 14                                          float64
dtype: object

In [4]:
df_salario_ccaa_sexo_y_edad = pd.read_excel("/Users/adrianbenitezrueda/Documents/IRONHACK/GITHUB/WEEK 3/FIRST PROJECT/first-project-data/databases/salarios/salario_ccaa_sexo_y_edad/28201.xlsx", skiprows=7)

/opt/anaconda3/envs/first_project_ironhack/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
df_salario_ccaa_sexo_y_edad.head(50)

,,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Total Nacional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Todas las edades,21883.0,22511.0,22790.0,22899.0,22726.0,22698,22858,23106,23156,23646,24009.0,24396.0,25166.0,25897.0
2,Menos de 25 años,12954.0,12566.0,13155.0,11955.0,11077.0,10506,11560,11040,11046,11473,12418.0,12270.0,12694.0,12930.0
3,De 25 a 34 años,19206.0,19476.0,19772.0,19269.0,18690.0,17973,18680,18252,17978,18506,19350.0,19563.0,20091.0,20848.0
4,De 35 a 44 años,22977.0,23300.0,23732.0,23830.0,23520.0,23232,23504,23336,23300,23690,24381.0,24631.0,25039.0,25615.0
5,De 45 a 54 años,25016.0,25447.0,25819.0,25835.0,25259.0,25229,25421,25475,25499,25950,26417.0,26886.0,27500.0,28220.0
6,55 y más años,25235.0,25281.0,26162.0,26124.0,25373.0,25632,26137,26327,26203,26646,27151.0,27540.0,28124.0,28687.0
7,Andalucía,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Todas las edades,20139.0,20906.0,20964.0,21351.0,20892.0,20782,20840,21381,21268,21404,21806.0,22061.0,22324.0,23155.0
9,Menos de 25 años,12600.0,11955.0,11618.0,11060.0,10544.0,-9672,-10003,-10114,-10237,-11077,11236.0,11639.0,-11314.0,12590.0
10,De 25 a 34 años,17462.0,17344.0,17300.0,16970.0,16477.0,15480,15997,15911,15769,15899,16293.0,16509.0,16643.0,17631.0
11,De 35 a 44 años,20949.0,21468.0,21617.0,21693.0,21393.0,20980,21256,21005,20652,20720,21623.0,21634.0,21661.0,21964.0
12,De 45 a 54 años,24046.0,25030.0,24762.0,25184.0,23737.0,23307,24689,23955,23770,23983,24444.0,24337.0,24590.0,25423.0
13,55 y más años,23454.0,24553.0,27066.0,27154.0,25331.0,26522,24780,26707,26205,25808,27473.0,27297.0,27002.0,27410.0
14,Aragón,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Todas las edades,21594.0,22134.0,22317.0,22334.0,22104.0,22055,22096,22327,22249,23040,23532.0,23565.0,24114.0,25012.0
16,Menos de 25 años,13923.0,-13144.0,-13584.0,-11879.0,-11157.0,-10719,-11417,-11817,-10344,-11904,-12597.0,-11076.0,-12417.0,-13898.0
17,De 25 a 34 años,19580.0,19776.0,19440.0,19459.0,17925.0,17444,18870,17608,17278,18263,19306.0,19007.0,18919.0,19605.0
18,De 35 a 44 años,22044.0,22537.0,22415.0,22804.0,22903.0,22461,22534,22204,22639,23421,23441.0,24333.0,24622.0,25194.0
19,De 45 a 54 años,24440.0,24674.0,25827.0,25623.0,24250.0,24694,24309,24289,24475,25198,25023.0,25678.0,26123.0,26733.0
20,55 y más años,23432.0,23604.0,25090.0,23571.0,24454.0,24038,24450,25464,24696,25058,26714.0,25909.0,26000.0,26904.0
21,"Asturias, Principado de",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Todas las edades,21806.0,22598.0,22241.0,22286.0,21751.0,21995,22045,22826,23096,23610,23915.0,24866.0,24528.0,25047.0
23,Menos de 25 años,-13056.0,-13431.0,-13586.0,-11823.0,-10844.0,-11580,-11135,-11797,..,..,-10918.0,-10415.0,-11761.0,-13307.0
24,De 25 a 34 años,18247.0,18568.0,19044.0,17989.0,17924.0,16518,17708,18246,17598,18184,18142.0,18310.0,18974.0,18571.0
25,De 35 a 44 años,22982.0,22665.0,22811.0,22387.0,21021.0,21418,22233,22150,22487,22678,23333.0,25250.0,23642.0,24195.0
26,De 45 a 54 años,24628.0,26407.0,24941.0,25492.0,24778.0,24795,24308,24585,25177,25211,26003.0,26928.0,26621.0,26754.0
27,55 y más años,24001.0,24403.0,25888.0,26033.0,24438.0,24878,24796,25685,25412,26630,26867.0,27658.0,26952.0,28097.0
28,"Balears, Illes",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Todas las edades,20388.0,21070.0,21614.0,21351.0,20961.0,20776,21322,21395,21478,22036,22801.0,23325.0,23881.0,24135.0
30,Menos de 25 años,13570.0,-13501.0,-13638.0,-12150.0,-10665.0,-11286,-14645,-13339,-12572,-13966,-15256.0,-13985.0,-14541.0,-14471.0
31,De 25 a 34 años,18293.0,18483.0,18791.0,18730.0,17560.0,17165,18343,17104,16341,17787,18759.0,20076.0,19414.0,20381.0
32,De 35 a 44 años,20877.0,21374.0,23042.0,22414.0,22087.0,21311,22441,21306,21794,22385,22849.0,23626.0,23805.0,23607.0
33,De 45 a 54 años,23122.0,24194.0,24189.0,23250.0,22887.0,23015,23196,24772,24362,24452,26124.0,25674.0,26009.0,26167.0
34,55 y más años,23478.0,23349.0,24263.0,24104.0,23150.0,22715,22521,23837,24833,24425,25708.0,26110.0,26908.0,26875.0
35,Canarias,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Todas las edades,18467.0,18926.0,19316.0,19517.0,19278.0,19168,19436,19857,19749,20185,20763.0,20861.0,21631.0,22466.0
37,Menos de 25 años,11306.0,-11110.0,-11563.0,-10953.0,-9914.0,-9149,-11431,-11978,-11432,-12609,-12182.0,-11319.0,-11499.0,-11615.0
38,De 25 a 34 años,16555.0,16686.0,16855.0,15914.0,14609.0,14588,15419,14969,15009,15295,16989.0,16468.0,16609.0,16478.0
39,De 35 a 44 años,19525.0,19523.0,19981.0,20180.0,19778.0,19249,19131,20029,19227,19698,20814.0,20495.0,20923.0,21674.0
40,De 45 a 54 años,20686.0,20917.0,21137.0,22284.0,22246.0,22128,22395,22148,21965,22336,23122.0,23737.0,24056.0,24722.0
41,55 y más años,20889.0,20992.0,23305.0,22708.0,22665.0,22307,23981,23186,23238,23573,23593.0,24158.0,25190.0,26225.0
42,Cantabria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Todas las edades,20378.0,20870.0,21157.0,20932.0,20192.0,20052,21200,21857,22063,22390,22555.0,23348.0,23495.0,24471.0
44,Menos de 25 años,-13786.0,-11892.0,-14004.0,-11363.0,-11419.0,-10289,..,..,..,..,-12764.0,-12532.0,-12940.0,-12156.0
45,De 25 a 34 años,18307.0,18258.0,18286.0,17599.0,16886.0,16718,17171,16778,16471,16587,18289.0,19686.0,19736.0,20502.0
46,De 35 a 44 años,20507.0,21686.0,22112.0,21403.0,20565.0,20037,21581,20930,21260,22287,22550.0,23088.0,23422.0,23885.0
47,De 45 a 54 años,22728.0,23371.0,24156.0,24025.0,22232.0,22031,24173,24611,24137,23631,24351.0,24647.0,25069.0,26383.0
48,55 y más años,22707.0,22150.0,22388.0,23448.0,22223.0,22084,22151,24617,25665,26314,25063.0,26047.0,24995.0,26317.0
49,Castilla y León,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Crear una lista con todas las localizaciones (las que estaban en tu diccionario)
localizaciones = [
    "Total Nacional", "Andalucía", "Aragón", "Asturias, Principado de", "Balears, Illes", "Canarias", 
    "Cantabria", "Castilla y León", "Castilla - La Mancha", "Cataluña", "Comunitat Valenciana", 
    "Extremadura", "Galicia", "Madrid, Comunidad de", "Murcia, Región de", "País Vasco", "Rioja, La"
]

# Crear una lista con los rangos de edad
edades = ["Todas las edades", "Menos de 25 años", "De 25 a 34 años", "De 35 a 44 años", "De 45 a 54 años", "55 y más años"]

# Crear dos nuevas columnas: una para 'Localización' y otra para 'Rango de edad'
# Procesamos primero las localizaciones
df_salario_ccaa_sexo_y_edad['Localización'] = df_salario_ccaa_sexo_y_edad.iloc[:, 0].apply(lambda x: x if x in localizaciones else None)

# Rellenar las celdas de Localización hacia adelante (hacia abajo)
df_salario_ccaa_sexo_y_edad['Localización'].fillna(method='ffill', inplace=True)

# Luego procesamos los rangos de edad, ignorando las localizaciones ya procesadas
df_salario_ccaa_sexo_y_edad['Rango de edad'] = df_salario_ccaa_sexo_y_edad.iloc[:, 0].apply(lambda x: x if x in edades else None)

# Ahora podemos eliminar la primera columna y crear el MultiIndex
df_salario_ccaa_sexo_y_edad.drop(df_salario_ccaa_sexo_y_edad.columns[0], axis=1, inplace=True)

# Aplicar el MultiIndex con las nuevas columnas 'Localización' y 'Rango de edad'
df_salario_ccaa_sexo_y_edad = df_salario_ccaa_sexo_y_edad.set_index(['Localización', 'Rango de edad'])

# El dataframe ahora tendrá un MultiIndex adecuado

/var/folders/ft/qxd3zsb519bf70l9x9qmkywm0000gn/T/ipykernel_16281/3661652888.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_salario_ccaa_sexo_y_edad['Localización'].fillna(method='ffill', inplace=True)
/var/folders/ft/qxd3zsb519bf70l9x9qmkywm0000gn/T/ipykernel_16281/3661652888.py:16: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_salario_ccaa_sexo_y_edad['Localización'].fillna(method='ffill', inplace=True)

In [7]:
df_salario_ccaa_sexo_y_edad.head(10)

                                 2008     2009     2010     2011     2012  \
Localización   Rango de edad
Total Nacional NaN                NaN      NaN      NaN      NaN      NaN
               NaN            21883.0  22511.0  22790.0  22899.0  22726.0
               NaN            12954.0  12566.0  13155.0  11955.0  11077.0
               NaN            19206.0  19476.0  19772.0  19269.0  18690.0
               NaN            22977.0  23300.0  23732.0  23830.0  23520.0
               NaN            25016.0  25447.0  25819.0  25835.0  25259.0
               NaN            25235.0  25281.0  26162.0  26124.0  25373.0
Andalucía      NaN                NaN      NaN      NaN      NaN      NaN
               NaN            20139.0  20906.0  20964.0  21351.0  20892.0
               NaN            12600.0  11955.0  11618.0  11060.0  10544.0

                               2013    2014    2015    2016    2017     2018  \
Localización   Rango de edad
Total Nacional NaN              NaN     NaN     NaN     NaN     NaN      NaN
               NaN            22698   22858   23106   23156   23646  24009.0
               NaN            10506   11560   11040   11046   11473  12418.0
               NaN            17973   18680   18252   17978   18506  19350.0
               NaN            23232   23504   23336   23300   23690  24381.0
               NaN            25229   25421   25475   25499   25950  26417.0
               NaN            25632   26137   26327   26203   26646  27151.0
Andalucía      NaN              NaN     NaN     NaN     NaN     NaN      NaN
               NaN            20782   20840   21381   21268   21404  21806.0
               NaN            -9672  -10003  -10114  -10237  -11077  11236.0

                                 2019     2020     2021
Localización   Rango de edad
Total Nacional NaN                NaN      NaN      NaN
               NaN            24396.0  25166.0  25897.0
               NaN            12270.0  12694.0  12930.0
               NaN            19563.0  20091.0  20848.0
               NaN            24631.0  25039.0  25615.0
               NaN            26886.0  27500.0  28220.0
               NaN            27540.0  28124.0  28687.0
Andalucía      NaN                NaN      NaN      NaN
               NaN            22061.0  22324.0  23155.0
               NaN            11639.0 -11314.0  12590.0

In [8]:
# Lista de reemplazo
edades = [np.nan, "Todas las edades", "Menos de 25 años", "De 25 a 34 años", "De 35 a 44 años", "De 45 a 54 años", "55 y más años"]

# Crear una columna temporal con el índice cíclico
df_salario_ccaa_sexo_y_edad.reset_index(inplace=True)  # Convertir MultiIndex a columnas normales
cycle_length = len(edades)
replacement_indices = np.arange(len(df_salario_ccaa_sexo_y_edad)) % cycle_length
df_salario_ccaa_sexo_y_edad['Replacement Index'] = replacement_indices

# Reemplazar los valores en la columna 'Rango de edad'
df_salario_ccaa_sexo_y_edad['Rango de edad'] = df_salario_ccaa_sexo_y_edad['Replacement Index'].map(lambda x: edades[x])

# Volver a establecer el MultiIndex
df_salario_ccaa_sexo_y_edad.set_index(['Localización', 'Rango de edad'], inplace=True)  # Cambia 'level_0' por el primer nivel original del índice

# Eliminar la columna temporal
df_salario_ccaa_sexo_y_edad.drop(columns=['Replacement Index'], inplace=True)

df_salario_ccaa_sexo_y_edad

                                    2008     2009     2010     2011     2012  \
Localización   Rango de edad
Total Nacional NaN                   NaN      NaN      NaN      NaN      NaN
               Todas las edades  21883.0  22511.0  22790.0  22899.0  22726.0
               Menos de 25 años  12954.0  12566.0  13155.0  11955.0  11077.0
               De 25 a 34 años   19206.0  19476.0  19772.0  19269.0  18690.0
               De 35 a 44 años   22977.0  23300.0  23732.0  23830.0  23520.0
...                                  ...      ...      ...      ...      ...
Rioja, La      De 35 a 44 años       NaN      NaN      NaN      NaN      NaN
               De 45 a 54 años       NaN      NaN      NaN      NaN      NaN
               55 y más años         NaN      NaN      NaN      NaN      NaN
               NaN                   NaN      NaN      NaN      NaN      NaN
               Todas las edades      NaN      NaN      NaN      NaN      NaN

                                  2013   2014   2015   2016   2017     2018  \
Localización   Rango de edad
Total Nacional NaN                 NaN    NaN    NaN    NaN    NaN      NaN
               Todas las edades  22698  22858  23106  23156  23646  24009.0
               Menos de 25 años  10506  11560  11040  11046  11473  12418.0
               De 25 a 34 años   17973  18680  18252  17978  18506  19350.0
               De 35 a 44 años   23232  23504  23336  23300  23690  24381.0
...                                ...    ...    ...    ...    ...      ...
Rioja, La      De 35 a 44 años     NaN    NaN    NaN    NaN    NaN      NaN
               De 45 a 54 años     NaN    NaN    NaN    NaN    NaN      NaN
               55 y más años       NaN    NaN    NaN    NaN    NaN      NaN
               NaN                 NaN    NaN    NaN    NaN    NaN      NaN
               Todas las edades    NaN    NaN    NaN    NaN    NaN      NaN

                                    2019     2020     2021
Localización   Rango de edad
Total Nacional NaN                   NaN      NaN      NaN
               Todas las edades  24396.0  25166.0  25897.0
               Menos de 25 años  12270.0  12694.0  12930.0
               De 25 a 34 años   19563.0  20091.0  20848.0
               De 35 a 44 años   24631.0  25039.0  25615.0
...                                  ...      ...      ...
Rioja, La      De 35 a 44 años       NaN      NaN      NaN
               De 45 a 54 años       NaN      NaN      NaN
               55 y más años         NaN      NaN      NaN
               NaN                   NaN      NaN      NaN
               Todas las edades      NaN      NaN      NaN

[135 rows x 14 columns]

In [9]:
df_salario_ccaa_sexo_y_edad = df_salario_ccaa_sexo_y_edad.iloc[:-9]

In [10]:
df_salario_ccaa_sexo_y_edad

                                    2008     2009     2010     2011     2012  \
Localización   Rango de edad
Total Nacional NaN                   NaN      NaN      NaN      NaN      NaN
               Todas las edades  21883.0  22511.0  22790.0  22899.0  22726.0
               Menos de 25 años  12954.0  12566.0  13155.0  11955.0  11077.0
               De 25 a 34 años   19206.0  19476.0  19772.0  19269.0  18690.0
               De 35 a 44 años   22977.0  23300.0  23732.0  23830.0  23520.0
...                                  ...      ...      ...      ...      ...
Rioja, La      Menos de 25 años -13303.0 -13419.0 -12807.0 -13596.0 -10997.0
               De 25 a 34 años   18655.0  18741.0  19273.0  17257.0  16494.0
               De 35 a 44 años   20595.0  21244.0  21074.0  20585.0  20285.0
               De 45 a 54 años   23998.0  24134.0  23002.0  24828.0  23804.0
               55 y más años     22815.0  22643.0 -25267.0  25501.0  23494.0

                                  2013    2014    2015   2016   2017     2018  \
Localización   Rango de edad
Total Nacional NaN                 NaN     NaN     NaN    NaN    NaN      NaN
               Todas las edades  22698   22858   23106  23156  23646  24009.0
               Menos de 25 años  10506   11560   11040  11046  11473  12418.0
               De 25 a 34 años   17973   18680   18252  17978  18506  19350.0
               De 35 a 44 años   23232   23504   23336  23300  23690  24381.0
...                                ...     ...     ...    ...    ...      ...
Rioja, La      Menos de 25 años     ..  -12045  -10929  -9784  -8957 -12075.0
               De 25 a 34 años   15864   18521   17674  17561  18041  18853.0
               De 35 a 44 años   20909   22049   21744  22070  22593  22837.0
               De 45 a 54 años   23252   23715   23987  24751  24416  24350.0
               55 y más años     23333   25604   24731  24151  24148  25014.0

                                    2019     2020     2021
Localización   Rango de edad
Total Nacional NaN                   NaN      NaN      NaN
               Todas las edades  24396.0  25166.0  25897.0
               Menos de 25 años  12270.0  12694.0  12930.0
               De 25 a 34 años   19563.0  20091.0  20848.0
               De 35 a 44 años   24631.0  25039.0  25615.0
...                                  ...      ...      ...
Rioja, La      Menos de 25 años -11525.0 -13440.0 -13970.0
               De 25 a 34 años   18495.0  18788.0  19108.0
               De 35 a 44 años   22648.0  22838.0  23289.0
               De 45 a 54 años   25777.0  25915.0  26338.0
               55 y más años     24631.0  24465.0  25047.0

[126 rows x 14 columns]

In [11]:
df_salario_ccaa_sexo_y_edad.to_excel("df_clean.xlsx")

In [12]:
# Supongamos que df_salario_ccaa_sexo_y_edad es tu DataFrame

# Recorre cada columna del DataFrame
for column in df_salario_ccaa_sexo_y_edad.columns:
    # Aplica la conversión de negativos a positivos solo a las columnas numéricas
    if pd.api.types.is_numeric_dtype(df_salario_ccaa_sexo_y_edad[column]):
        df_salario_ccaa_sexo_y_edad[column] = df_salario_ccaa_sexo_y_edad[column].apply(lambda x: abs(x) if x < 0 else x)

df_salario_ccaa_sexo_y_edad

/var/folders/ft/qxd3zsb519bf70l9x9qmkywm0000gn/T/ipykernel_16281/2380904107.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salario_ccaa_sexo_y_edad[column] = df_salario_ccaa_sexo_y_edad[column].apply(lambda x: abs(x) if x < 0 else x)

                                    2008     2009     2010     2011     2012  \
Localización   Rango de edad
Total Nacional NaN                   NaN      NaN      NaN      NaN      NaN
               Todas las edades  21883.0  22511.0  22790.0  22899.0  22726.0
               Menos de 25 años  12954.0  12566.0  13155.0  11955.0  11077.0
               De 25 a 34 años   19206.0  19476.0  19772.0  19269.0  18690.0
               De 35 a 44 años   22977.0  23300.0  23732.0  23830.0  23520.0
...                                  ...      ...      ...      ...      ...
Rioja, La      Menos de 25 años  13303.0  13419.0  12807.0  13596.0  10997.0
               De 25 a 34 años   18655.0  18741.0  19273.0  17257.0  16494.0
               De 35 a 44 años   20595.0  21244.0  21074.0  20585.0  20285.0
               De 45 a 54 años   23998.0  24134.0  23002.0  24828.0  23804.0
               55 y más años     22815.0  22643.0  25267.0  25501.0  23494.0

                                  2013    2014    2015   2016   2017     2018  \
Localización   Rango de edad
Total Nacional NaN                 NaN     NaN     NaN    NaN    NaN      NaN
               Todas las edades  22698   22858   23106  23156  23646  24009.0
               Menos de 25 años  10506   11560   11040  11046  11473  12418.0
               De 25 a 34 años   17973   18680   18252  17978  18506  19350.0
               De 35 a 44 años   23232   23504   23336  23300  23690  24381.0
...                                ...     ...     ...    ...    ...      ...
Rioja, La      Menos de 25 años     ..  -12045  -10929  -9784  -8957  12075.0
               De 25 a 34 años   15864   18521   17674  17561  18041  18853.0
               De 35 a 44 años   20909   22049   21744  22070  22593  22837.0
               De 45 a 54 años   23252   23715   23987  24751  24416  24350.0
               55 y más años     23333   25604   24731  24151  24148  25014.0

                                    2019     2020     2021
Localización   Rango de edad
Total Nacional NaN                   NaN      NaN      NaN
               Todas las edades  24396.0  25166.0  25897.0
               Menos de 25 años  12270.0  12694.0  12930.0
               De 25 a 34 años   19563.0  20091.0  20848.0
               De 35 a 44 años   24631.0  25039.0  25615.0
...                                  ...      ...      ...
Rioja, La      Menos de 25 años  11525.0  13440.0  13970.0
               De 25 a 34 años   18495.0  18788.0  19108.0
               De 35 a 44 años   22648.0  22838.0  23289.0
               De 45 a 54 años   25777.0  25915.0  26338.0
               55 y más años     24631.0  24465.0  25047.0

[126 rows x 14 columns]

In [13]:
df_salario_ccaa_sexo_y_edad.to_excel("df_clean_positive.xlsx")