In [18]:
import pandas as pd
import numpy as np

salarios_ij_2021 = pd.read_excel("salarios_infojobs_2021.xlsx")
salarios_ij_2021.T

,0,1,2,3,4,5,6,7,8,9,10
Año,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
Salario Promedio Ofertado (€),23991.0,23594.0,23650.0,23628.0,23678.0,23178.0,23331.0,23478.0,24003.0,25173.0,24555.0
Variación Respecto al Año Anterior (%),0.8,-1.7,0.2,-0.1,0.2,-2.1,0.7,0.6,2.2,4.9,-2.5
Variación Anual IPC (%),2.4,2.9,0.3,-1.0,0.0,1.6,1.1,1.7,0.7,-0.5,6.5
Efecto Neto en el Poder Adquisitivo (%),-1.6,-4.6,-0.1,0.9,0.2,-3.7,-0.4,-1.1,1.4,5.4,-9.0

In [3]:
salarios_ij_2022 = pd.read_excel("salarios_infojobs_2022.xlsx")
salarios_ij_2022

,Año,Salario Promedio Ofertado (€),Variación Respecto al Año Anterior (%),Variación Anual IPC (%),Efecto Neto en el Poder Adquisitivo (%)
0,2011,23991,0.8,2.4,-1.6
1,2012,23594,-1.7,2.9,-4.6
2,2013,23650,0.2,0.3,-0.1
3,2014,23628,-0.1,-1.0,0.9
4,2015,23678,0.2,0.0,0.2
5,2016,23178,-2.1,1.6,-3.7
6,2017,23331,0.7,1.1,-0.4
7,2018,23478,0.6,1.2,-0.6
8,2019,24003,2.2,0.8,1.4
9,2020,25173,4.9,-0.5,5.4
10,2021,24555,-2.5,6.5,-9.0
11,2022,24395,-0.7,5.7,-6.4

In [4]:
salarios_ij_2023 = pd.read_excel("salarios_infojobs_2023.xlsx")
salarios_ij_2023

,Año,Salario Promedio Ofertado (€),Variación Respecto al Año Anterior (%),Variación Anual IPC (%),Efecto Neto en el Poder Adquisitivo (%)
0,2019,25400,NaN,0.8,-0.8
1,2020,25382,-0.1,-0.5,0.4
2,2021,25193,-0.7,6.5,-7.2
3,2022,25842,2.6,5.7,-3.1
4,2023,26245,1.6,3.1,-1.5