In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

# Informes de InfoJobs

In [70]:
salarios_ij_2022 = pd.read_excel("salarios_infojobs_2022.xlsx")
salarios_ij_2022_traspuesto = salarios_ij_2022.set_index("Año").T
salarios_ij_2022_traspuesto

Año,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Salario Promedio Ofertado (€),23991.0,23594.0,23650.0,23628.0,23678.0,23178.0,23331.0,23478.0,24003.0,25173.0,24555.0,24395.0
Variación Respecto al Año Anterior (%),0.8,-1.7,0.2,-0.1,0.2,-2.1,0.7,0.6,2.2,4.9,-2.5,-0.7
Variación Anual IPC (%),2.4,2.9,0.3,-1.0,0.0,1.6,1.1,1.2,0.8,-0.5,6.5,5.7
Efecto Neto en el Poder Adquisitivo (%),-1.6,-4.6,-0.1,0.9,0.2,-3.7,-0.4,-0.6,1.4,5.4,-9.0,-6.4

In [71]:
salarios_ij_2021 = pd.read_excel("salarios_infojobs_2021.xlsx")
salarios_ij_2021 = salarios_ij_2021.set_index("Año").T
salarios_ij_2021

Año,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Salario Promedio Ofertado (€),23991.0,23594.0,23650.0,23628.0,23678.0,23178.0,23331.0,23478.0,24003.0,25173.0,24555.0
Variación Respecto al Año Anterior (%),0.8,-1.7,0.2,-0.1,0.2,-2.1,0.7,0.6,2.2,4.9,-2.5
Variación Anual IPC (%),2.4,2.9,0.3,-1.0,0.0,1.6,1.1,1.7,0.8,-0.5,6.5
Efecto Neto en el Poder Adquisitivo (%),-1.6,-4.6,-0.1,0.9,0.2,-3.7,-0.4,-1.1,1.4,5.4,-9.0

In [72]:
salarios_ij_2023 = pd.read_excel("salarios_infojobs_2023.xlsx")
salarios_ij_2023 = salarios_ij_2023.set_index("Año").T
salarios_ij_2023

Año,2019,2020,2021,2022,2023
Salario Promedio Ofertado (€),25400.0,25382.0,25193.0,25842.0,26245.0
Variación Respecto al Año Anterior (%),NaN,-0.1,-0.7,2.6,1.6
Variación Anual IPC (%),0.8,-0.5,6.5,5.7,3.1
Efecto Neto en el Poder Adquisitivo (%),-0.8,0.4,-7.2,-3.1,-1.5

### Comparamos valores entre los informes

In [73]:
# Comparamos columnas de años en los tres informes
columnas_a_comparar = [2019, 2020, 2021, 2022]

salarios_ij_2022_comparar = salarios_ij_2022[columnas_a_comparar]
salarios_ij_2023_comparar = salarios_ij_2023[columnas_a_comparar]

comparacion_2022_2023 = salarios_ij_2022_comparar == salarios_ij_2023_comparar
print(comparacion_2022_2023)

KeyError: "None of [Index([2019, 2020, 2021, 2022], dtype='int64')] are in the [columns]"

In [6]:
columnas_a_comparar = [2019, 2020, 2021]

salarios_ij_2021_comparar = salarios_ij_2021[columnas_a_comparar]
salarios_ij_2023_comparar = salarios_ij_2023[columnas_a_comparar]

comparacion_2021_2023 = salarios_ij_2021_comparar == salarios_ij_2023_comparar
print(comparacion_2021_2023)

Año                                       2019   2020   2021
Salario Promedio Ofertado (€)            False  False  False
Variación Respecto al Año Anterior (%)   False  False  False
Variación Anual IPC (%)                   True   True   True
Efecto Neto en el Poder Adquisitivo (%)  False  False  False

In [7]:
columnas_a_comparar = [2019, 2020, 2021]

salarios_ij_2021_comparar = salarios_ij_2021[columnas_a_comparar]
salarios_ij_2022_comparar = salarios_ij_2022[columnas_a_comparar]

comparacion_2021_2022 = salarios_ij_2021_comparar == salarios_ij_2022_comparar
print(comparacion_2021_2022)

Año                                      2019  2020  2021
Salario Promedio Ofertado (€)            True  True  True
Variación Respecto al Año Anterior (%)   True  True  True
Variación Anual IPC (%)                  True  True  True
Efecto Neto en el Poder Adquisitivo (%)  True  True  True

In [8]:
salarios_ij_2021

Año,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Salario Promedio Ofertado (€),23991.0,23594.0,23650.0,23628.0,23678.0,23178.0,23331.0,23478.0,24003.0,25173.0,24555.0
Variación Respecto al Año Anterior (%),0.8,-1.7,0.2,-0.1,0.2,-2.1,0.7,0.6,2.2,4.9,-2.5
Variación Anual IPC (%),2.4,2.9,0.3,-1.0,0.0,1.6,1.1,1.7,0.8,-0.5,6.5
Efecto Neto en el Poder Adquisitivo (%),-1.6,-4.6,-0.1,0.9,0.2,-3.7,-0.4,-1.1,1.4,5.4,-9.0

# Tablas del INE: IPC

In [9]:
ipc_nacional_general_y_grupos = pd.read_excel("databases/ipc/ipc_nacional_general_y_grupos/22344.xlsx", skiprows = 7)
ipc_nacional_general_y_grupos = ipc_nacional_general_y_grupos.iloc[:-6]
ipc_nacional_general_y_grupos

/opt/anaconda3/envs/first_project_ironhack/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Índice general,86.399,86.150,87.701,90.504,92.717,94.023,93.881,93.412,93.222,95.046,96.638,97.314,97.000,100.0,108.391,112.219
1,01 Alimentos y bebidas no alcohólicas,85.697,84.796,84.088,85.813,87.810,90.257,89.942,90.998,92.272,93.407,94.946,95.928,98.187,100.0,111.639,124.659
2,02 Bebidas alcohólicas y tabaco,61.557,67.006,74.318,81.907,86.746,92.026,93.356,94.624,95.090,96.704,98.504,99.164,99.700,100.0,103.868,111.768
3,03 Vestido y calzado,96.147,94.553,94.257,94.515,94.768,94.808,94.913,95.223,95.827,96.290,97.115,98.023,98.992,100.0,102.672,104.960
4,"04 Vivienda, agua, electricidad, gas y otros c...",78.565,79.586,82.398,88.367,92.845,93.692,94.934,92.934,88.994,92.483,94.665,93.281,89.977,100.0,115.505,102.786
5,"05 Muebles, artículos del hogar y artículos pa...",94.184,95.557,96.113,97.195,98.048,98.959,98.417,98.197,98.352,97.918,98.051,98.692,99.068,100.0,106.344,111.683
6,06 Sanidad,90.416,89.808,88.945,87.763,90.871,97.125,97.251,97.388,97.151,97.870,98.157,98.956,99.322,100.0,101.102,102.995
7,07 Transporte,83.732,78.862,84.285,91.042,95.398,95.790,94.880,90.639,88.777,92.482,95.770,96.867,93.197,100.0,112.150,111.730
8,08 Comunicaciones,116.862,116.082,115.208,114.274,110.404,105.735,99.276,97.465,99.964,101.263,103.531,104.333,103.085,100.0,98.748,101.821
9,09 Ocio y cultura,103.101,102.694,101.421,101.332,102.027,102.769,101.375,100.993,100.032,101.100,100.913,100.453,99.840,100.0,102.798,107.283
10,10 Enseñanza,75.905,78.548,80.510,82.449,86.410,93.391,95.040,96.052,96.642,97.528,98.295,99.250,99.846,100.0,101.249,103.240
11,11 Restaurantes y hoteles,85.065,86.708,87.759,89.151,89.942,90.394,90.825,91.593,92.612,94.334,96.146,98.066,99.135,100.0,106.402,113.676
12,12 Otros bienes y servicios,80.529,82.556,84.438,86.905,88.933,90.748,91.643,93.100,94.584,95.422,96.283,97.626,99.013,100.0,103.516,108.432

In [10]:
ipc_nacional_subgrupo_4 = pd.read_excel("databases/ipc/ipc_nacional_subgrupos/22345.xlsx", skiprows = 7)
ipc_nacional_subgrupo_4 = ipc_nacional_subgrupo_4.iloc[:-6]
ipc_nacional_subgrupo_4

/opt/anaconda3/envs/first_project_ironhack/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,041 Alquiler de vivienda,91.220,94.024,95.068,96.055,96.583,96.403,95.740,95.279,95.195,95.586,96.794,98.285,99.407,100.0,101.343,103.425
1,043 Conservación y reparación de la vivienda,89.779,91.312,91.876,92.984,93.416,94.052,93.532,93.451,93.868,94.814,96.155,97.305,98.513,100.0,106.374,112.313
2,044 Suministro de agua y otros servicios relac...,79.839,83.340,85.631,87.946,90.865,94.461,96.391,96.956,97.432,97.777,98.407,98.914,99.402,100.0,101.595,103.256

In [11]:
ipc_ccaa_media_anual_2002_2023 = pd.read_excel("databases/ipc/ipc_ccaa_mediaanual_2002_2023/50940.xlsx", skiprows = 7).drop(0)
ipc_ccaa_media_anual_2002_2023 = ipc_ccaa_media_anual_2002_2023.iloc[:-6]
ipc_ccaa_media_anual_2002_2023

/opt/anaconda3/envs/first_project_ironhack/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
1,Nacional,71.092,73.253,75.479,78.022,80.765,83.015,86.399,86.15,87.701,...,93.881,93.412,93.222,95.046,96.638,97.314,97,100,108.391,112.219
2,01 Andalucía,71.902,74.052,76.261,78.767,81.548,83.804,87.164,86.76,88.314,...,94.053,93.538,93.366,95.182,96.681,97.157,96.956,100,108.675,112.932
3,02 Aragón,71.35,73.446,75.465,78.084,80.991,83.354,87.049,86.701,88.257,...,94.138,93.459,93.223,94.91,96.494,97.156,96.683,100,108.978,112.217
4,"03 Asturias, Principado de",72.182,74.325,76.495,78.861,81.478,83.609,87.156,86.768,88.469,...,94.666,94.057,93.955,95.628,97.096,97.553,97.059,100,108.406,112.077
5,"04 Balears, Illes",71.304,73.424,75.441,77.771,80.47,82.613,85.78,85.633,87.091,...,93.438,93.342,93.214,95.198,96.614,97.08,96.789,100,108.123,112.327
6,05 Canarias,76.695,78.418,80.196,82.196,84.569,86.54,90.363,89.45,90.314,...,94.796,94.04,93.82,95.506,96.979,97.298,97.828,100,107.546,112.483
7,06 Cantabria,71.025,72.961,74.965,77.347,80.066,82.265,85.831,85.545,87.156,...,94.192,93.379,93.051,94.893,96.52,97.183,96.847,100,108.266,112.367
8,07 Castilla y León,71.181,73.113,75.162,77.635,80.399,82.664,86.154,85.539,87.161,...,93.934,93.076,92.718,94.693,96.333,97.142,96.605,100,109.456,113.217
9,08 Castilla - La Mancha,71.664,73.724,76.009,78.637,81.515,83.653,87.238,86.235,87.933,...,94.141,93.216,92.757,94.656,96.415,96.992,96.441,100,110.119,114.05
10,09 Cataluña,68.04,70.433,72.879,75.734,78.513,80.841,84.146,84.281,85.998,...,93.061,92.899,92.956,94.993,96.739,97.568,97.162,100,107.998,111.656
11,10 Comunitat Valenciana,71.8,73.869,76.084,78.638,81.303,83.6,86.949,86.743,88.148,...,94.053,93.69,93.263,95.041,96.687,97.2,96.809,100,108.461,112.288
12,11 Extremadura,73.651,75.465,77.349,79.516,81.926,84.122,87.577,87.168,88.676,...,94.392,93.584,93.351,94.914,96.389,96.927,96.756,100,108.945,112.406
13,12 Galicia,71.109,73.288,75.492,78.026,80.776,82.756,86.238,85.734,87.341,...,93.815,93.147,92.864,94.828,96.398,96.942,96.613,100,109.039,112.959
14,"13 Madrid, Comunidad de",71.661,73.82,76.031,78.414,81.193,83.449,86.688,86.631,88.23,...,94.16,93.721,93.475,95.151,96.755,97.683,97.338,100,107.546,110.822
15,"14 Murcia, Región de",71.303,73.935,76.427,79.057,81.973,84.491,87.844,87.308,88.811,...,94.939,94.356,94.159,95.612,96.951,97.345,97.095,100,108.811,112.874
16,"15 Navarra, Comunidad Foral de",72.074,74.29,76.533,79.116,81.714,83.705,86.971,86.465,87.841,...,93.666,93.064,93.087,94.554,96.168,97.297,96.73,100,108.815,112.77
17,16 País Vasco,70.221,72.204,74.393,76.844,79.46,81.723,85.077,85.306,86.749,...,93.093,92.845,92.858,94.7,96.215,97.136,97.002,100,108.049,111.962
18,"17 Rioja, La",70.579,72.93,74.978,77.762,80.878,83.163,86.575,86.163,87.604,...,93.984,93.616,93.286,95.086,96.543,97.418,96.862,100,108.923,112.719
19,18 Ceuta,74.681,77.3,80.004,82.044,84.694,86.331,89.603,90.086,91.474,...,96.139,95.411,95.261,96.755,97.523,97.832,97.423,100,107.702,112.407
20,19 Melilla,71.996,74.434,77.4,79.752,83.26,85.511,88.859,88.951,90.822,...,94.163,93.656,93.58,95.561,96.482,96.174,96.257,100,108.559,113.837

In [12]:
asignacion_sectores = {
    "Informática y telecomunicaciones": "J Información y comunicaciones",
    "Comercial y ventas": "G Comercio al por mayor y al por menor; reparación de vehículos de motor y motocicletas",
    "Ingenierías y técnicas": "M Actividades profesionales, científicas y técnicas",
    "Educación y formación": "P Educación",
    "Inmobiliario y construcción": "F Construcción",
    "Sanidad y salud": "Q Actividades sanitarias y de servicios sociales",
    "Administración pública": "O Administración Pública y defensa; Seguridad Social obligatoria",
    "Finanzas y banca": "K Actividades financieras y de seguros",
    "Legal": "M Actividades profesionales, científicas y técnicas",
    "Administración de empresas": "N Actividades administrativas y servicios auxiliares",
    "Calidad, producción e I+D": "C Industria manufacturera",
    "Sector farmacéutico": "C Industria manufacturera",
    "Diseño y artes gráficas": "R Actividades artísticas, recreativas y de entretenimiento",
    "Recursos humanos": "N Actividades administrativas y servicios auxiliares",
    "Profesiones, artes y oficios": "M Actividades profesionales, científicas y técnicas",
    "Marketing y comunicación": "J Información y comunicaciones",
    "Compras, logística y almacén": "G Comercio al por mayor y al por menor; reparación de vehículos de motor y motocicletas",
    "Turismo y restauración": "I Hostelería",
    "Venta al detalle": "G Comercio al por mayor y al por menor; reparación de vehículos de motor y motocicletas",
    "Atención al cliente": "N Actividades administrativas y servicios auxiliares"
}


df['Nueva_categoria'] = df['Sector'].map(asignacion_sectores)

NameError: name 'df' is not defined

# Comparativa desviaciones típicas salarios INE vs InfoJobs

### Informe InfoJobs 2022

In [47]:
# Informe InfoJobs 2022
salarios_ij_2022

,Año,Salario Promedio Ofertado (€),Variación Respecto al Año Anterior (%),Variación Anual IPC (%),Efecto Neto en el Poder Adquisitivo (%)
0,2011,23991,0.8,2.4,-1.6
1,2012,23594,-1.7,2.9,-4.6
2,2013,23650,0.2,0.3,-0.1
3,2014,23628,-0.1,-1.0,0.9
4,2015,23678,0.2,0.0,0.2
5,2016,23178,-2.1,1.6,-3.7
6,2017,23331,0.7,1.1,-0.4
7,2018,23478,0.6,1.2,-0.6
8,2019,24003,2.2,0.8,1.4
9,2020,25173,4.9,-0.5,5.4
10,2021,24555,-2.5,6.5,-9.0
11,2022,24395,-0.7,5.7,-6.4

In [50]:
salarios_ij_2022_hasta2021 = salarios_ij_2022.iloc[:-1].copy()
salarios_ij_2022_hasta2021

,Año,Salario Promedio Ofertado (€),Variación Respecto al Año Anterior (%),Variación Anual IPC (%),Efecto Neto en el Poder Adquisitivo (%)
0,2011,23991,0.8,2.4,-1.6
1,2012,23594,-1.7,2.9,-4.6
2,2013,23650,0.2,0.3,-0.1
3,2014,23628,-0.1,-1.0,0.9
4,2015,23678,0.2,0.0,0.2
5,2016,23178,-2.1,1.6,-3.7
6,2017,23331,0.7,1.1,-0.4
7,2018,23478,0.6,1.2,-0.6
8,2019,24003,2.2,0.8,1.4
9,2020,25173,4.9,-0.5,5.4
10,2021,24555,-2.5,6.5,-9.0

In [61]:
salarios_ij_2022_hasta2021.loc[:, 'Tasa de Crecimiento Anual (%)'] = (salarios_ij_2022_hasta2021['Salario Promedio Ofertado (€)'].pct_change() * 100)

tasas_de_crecimiento_IJ = salarios_ij_2022_hasta2021['Tasa de Crecimiento Anual (%)'].dropna()

tasas_de_crecimiento_IJ

1    -1.654787
2     0.237348
3    -0.093023
4     0.211613
5    -2.111665
6     0.660109
7     0.630063
8     2.236136
9     4.874391
10   -2.455011
Name: Tasa de Crecimiento Anual (%), dtype: float64

### Datos INE

In [29]:
salario_INE_nacional_edad = pd.read_excel("databases/salarios/salario_nacional_sexo_y_edad/28189.xlsx")
salario_INE_nacional_edad

/opt/anaconda3/envs/first_project_ironhack/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Resultados nacionales,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Ganancia media anual por trabajador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sexo y edad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unidades: €,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,,Ambos sexos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,,2008,2009.00,2010.00,2011.00,2012.00,2013.00,2014.00,2015.00,2016.00,2017.00,2018.00,2019.00,2020.00,2021.00
7,Todas las edades,21883.42,22511.47,22790.20,22899.35,22726.44,22697.86,22858.17,23106.30,23156.34,23646.50,24009.12,24395.98,25165.51,25896.82
8,Menos de 20 años,9960.26,9624.47,10208.70,-8148.49,-7427.72,-7456.60,-7732.36,-7526.91,-7182.53,-7868.32,8423.42,9101.30,-9394.06,-9180.17
9,De 20 a 24 años,13293.39,12784.44,13349.15,12210.47,11296.43,10668.30,11835.07,11228.51,11316.30,11775.39,12914.18,12640.65,12925.08,13224.95
10,De 25 a 29 años,17434,17530.28,17637.97,16938.06,16244.38,15587.21,16305.61,16046.47,15876.26,16440.55,17525.91,17772.31,18372.47,19089.06
11,De 30 a 34 años,20528.28,20818.91,21274.68,20782.77,20201.98,19452.11,20208.67,19597.57,19339.25,19847.27,20763.51,20969.47,21321.13,22123.50
12,De 35 a 39 años,22429.72,22824.94,23219.24,23136.49,22927.66,22522.09,22920.46,22397.04,22216.15,22616.45,23431.41,23283.02,23671.27,24134.30
13,De 40 a 44 años,23585.09,23822.65,24336.99,24598.45,24157.21,23973.45,24132.53,24238.98,24305.16,24631.01,25193.03,25734.87,26125.41,26770.18
14,De 45 a 49 años,24326.53,24846.62,25156.71,25265.23,24689.67,24781.25,25078.78,25063.81,25127.54,25674.74,26014.46,26627.90,27279.93,28077.21
15,De 50 a 54 años,25881.4,26182.26,26604.42,26522.82,25930.82,25748.79,25819.99,25928.89,25917.68,26256.18,26871.12,27183.07,27754.07,28380.64
16,De 55 a 59 años,26981.89,27208.98,28234.60,27846.00,27166.96,27406.12,27360.02,27457.14,27282.41,27631.35,27948.41,28240.07,28713.98,29149.80
17,De 60 a 64 años,22230.81,22332.16,22624.93,22877.58,22290.64,22626.56,24091.36,24716.04,24624.48,25334.93,26073.06,26735.18,27390.57,28220.73
18,65 y más años,27116.41,24748.59,27700.12,28058.32,25723.51,24538.14,23854.21,22280.44,22661.04,23190.74,24584.63,24857.33,26833.25,26837.66
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Notas:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,El dato no esta disponible cuando el número de...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,'..'=No se facilita el dato correspondiente p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Cuando la casilla está marcada con un signo '-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Fuente:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Instituto Nacional de Estadística,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
años = salario_INE_nacional_edad.loc[6, 'Unnamed: 1':'Unnamed: 14'].values
años

array(['2008', 2009.0, 2010.0, 2011.0, 2012.0, 2013.0, 2014.0, 2015.0,
       2016.0, 2017.0, 2018.0, 2019.0, 2020.0, 2021.0], dtype=object)

In [34]:
fila_todas_edades = salario_INE_nacional_edad.loc[7, 'Unnamed: 1':'Unnamed: 14']
fila_todas_edades

Unnamed: 1     21883.42
Unnamed: 2     22511.47
Unnamed: 3      22790.2
Unnamed: 4     22899.35
Unnamed: 5     22726.44
Unnamed: 6     22697.86
Unnamed: 7     22858.17
Unnamed: 8      23106.3
Unnamed: 9     23156.34
Unnamed: 10     23646.5
Unnamed: 11    24009.12
Unnamed: 12    24395.98
Unnamed: 13    25165.51
Unnamed: 14    25896.82
Name: 7, dtype: object

In [36]:
fila_todas_edades.index = años
fila_todas_edades

2008      21883.42
2009.0    22511.47
2010.0     22790.2
2011.0    22899.35
2012.0    22726.44
2013.0    22697.86
2014.0    22858.17
2015.0     23106.3
2016.0    23156.34
2017.0     23646.5
2018.0    24009.12
2019.0    24395.98
2020.0    25165.51
2021.0    25896.82
Name: 7, dtype: object

In [37]:
salarios_2011_2021 = fila_todas_edades.loc[2011:2021]
salarios_2011_2021

2011.0    22899.35
2012.0    22726.44
2013.0    22697.86
2014.0    22858.17
2015.0     23106.3
2016.0    23156.34
2017.0     23646.5
2018.0    24009.12
2019.0    24395.98
2020.0    25165.51
2021.0    25896.82
Name: 7, dtype: object

In [45]:
tasas_crecimiento_anual = salarios_2011_2021.pct_change() * 100
tasas_crecimiento_anual = tasas_crecimiento_anual.dropna()

tasas_crecimiento_anual

/var/folders/lb/xlcp_nw57bz0k682c287nrk00000gn/T/ipykernel_1408/690484932.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  tasas_crecimiento_anual = salarios_2011_2021.pct_change() * 100

2012.0   -0.755087
2013.0   -0.125757
2014.0    0.706278
2015.0    1.085520
2016.0    0.216564
2017.0    2.116742
2018.0    1.533504
2019.0    1.611304
2020.0    3.154331
2021.0    2.906001
Name: 7, dtype: float64

### Cálculo de los coeficientes de variación

In [78]:
#InfoJobs

media_tasas_crecimiento_IJ = tasas_de_crecimiento_IJ.mean()
desviacion_estandar_IJ = tasas_de_crecimiento_IJ.std()

print("La media de las tasas de crecimiento anual es:", media_tasas_crecimiento_IJ)
print("Desviación Estándar de las Tasas de Crecimiento Anual:", desviacion_estandar_IJ)

La media de las tasas de crecimiento anual es: 0.2535173580954309
Desviación Estándar de las Tasas de Crecimiento Anual: 2.167545940988354

In [79]:
#INE

media_tasas_crecimiento = tasas_crecimiento_anual.mean()
desviacion_tasas_crecimiento = tasas_crecimiento_anual.std()

print(f"La media de las tasas de crecimiento anual es: {media_tasas_crecimiento}%")
print(f"La desviación estándar de las tasas de crecimiento anual es: {desviacion_tasas_crecimiento}%")

La media de las tasas de crecimiento anual es: 1.2449401434586904%
La desviación estándar de las tasas de crecimiento anual es: 1.2751677217387007%