In [9]:
import pandas as pd
import numpy as np

In [17]:
salarios_ij_2022 = pd.read_excel("salarios_infojobs_2022.xlsx")
salarios_ij_2022 = salarios_ij_2022.set_index("Año").T
salarios_ij_2022

Año,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Salario Promedio Ofertado (€),23991.0,23594.0,23650.0,23628.0,23678.0,23178.0,23331.0,23478.0,24003.0,25173.0,24555.0,24395.0
Variación Respecto al Año Anterior (%),0.8,-1.7,0.2,-0.1,0.2,-2.1,0.7,0.6,2.2,4.9,-2.5,-0.7
Variación Anual IPC (%),2.4,2.9,0.3,-1.0,0.0,1.6,1.1,1.2,0.8,-0.5,6.5,5.7
Efecto Neto en el Poder Adquisitivo (%),-1.6,-4.6,-0.1,0.9,0.2,-3.7,-0.4,-0.6,1.4,5.4,-9.0,-6.4

In [18]:
salarios_ij_2021 = pd.read_excel("salarios_infojobs_2021.xlsx")
salarios_ij_2021 = salarios_ij_2021.set_index("Año").T
salarios_ij_2021

Año,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Salario Promedio Ofertado (€),23991.0,23594.0,23650.0,23628.0,23678.0,23178.0,23331.0,23478.0,24003.0,25173.0,24555.0
Variación Respecto al Año Anterior (%),0.8,-1.7,0.2,-0.1,0.2,-2.1,0.7,0.6,2.2,4.9,-2.5
Variación Anual IPC (%),2.4,2.9,0.3,-1.0,0.0,1.6,1.1,1.7,0.7,-0.5,6.5
Efecto Neto en el Poder Adquisitivo (%),-1.6,-4.6,-0.1,0.9,0.2,-3.7,-0.4,-1.1,1.4,5.4,-9.0

In [20]:
salarios_ij_2023 = pd.read_excel("salarios_infojobs_2023.xlsx")
salarios_ij_2023 = salarios_ij_2023.set_index("Año").T
salarios_ij_2023

Año,2019,2020,2021,2022,2023
Salario Promedio Ofertado (€),25400.0,25382.0,25193.0,25842.0,26245.0
Variación Respecto al Año Anterior (%),NaN,-0.1,-0.7,2.6,1.6
Variación Anual IPC (%),0.8,-0.5,6.5,5.7,3.1
Efecto Neto en el Poder Adquisitivo (%),-0.8,0.4,-7.2,-3.1,-1.5